.landingSwiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.swiper-slide {
  width: 882px !important;
  height: 506px;
  opacity: 0.2;
}

.swiper-slide img,
.swiper-slide-active img {
  width: 100%;
  height: 100%;
}

.swiper-slide-active {
  width: 1078px !important;
  height: 640px;
  opacity: 1;
}
